body {
    background: 
    -webkit-linear-gradient(bottom, rgb(69, 130, 236, 0.7), rgb(69, 130, 236, 1)),url("http://i.imgur.com/YKX8fAZ.jpg");
    background: 
    -o-linear-gradient(bottom, rgb(69, 130, 236, 0.7), rgb(69, 130, 236, 1)),url("http://i.imgur.com/YKX8fAZ.jpg");
    background: 
    linear-gradient(to top, rgb(69, 130, 236, 0.7), rgb(69, 130, 236, 1)),url("http://i.imgur.com/YKX8fAZ.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.navbar {
    background-color: transparent !important;
}

.content {
    padding-top: 30px;
}

h1 {
    color: #fff;
}

.footer-credits {
    background-color: transparent;
    color: rgba(255,255,255,0.6) !important;
}

.footer-credits a {
    color: #f5f5f5;
}